<header [ngClass]="{'sticky-header': isSticky}">
  <mat-toolbar class="header animacion-bg">
    <div class="container">
      <a class="logo">
        <div class="logo-container">
          <img src="assets/miniLogo.png" alt="Logo" class="logo-image">
          <h1 class="company-name" (click)="irAHome()">Prolimp<span>.</span></h1>
        </div>
      </a>

      <span class="spacer"></span>
      <nav class="navbar" *ngIf="!isMobileMenuOpen">
        <button (click)="irAHome()">Home</button>

        <!-- Dropdown -->
        <div class="menu-container">
          <button #menuButton class="menu-button" (click)="toggleDropdown(); $event.stopPropagation()">Servicios</button>
          <div #dropdownMenu class="dropdown-menu"  [hidden]="!isDropdownOpen">
            <ul>
              <li><a (click)="irALI()" mat-button>Limpieza Integral</a></li>
              <li><a (click)="irAMS()" mat-button>Mantenimiento Sanitario</a></li>
              <li><a (click)="irAME()" mat-button>Mantenimiento Edilicio</a></li>
            </ul>
          </div>
        </div>

        <button (click)="irAContacto()">Contacto</button>
        <button mat-button (click)="irARedSocial('https://wa.me/59898442501')">
          <fa-icon class="social-buttons_icon" [icon]="faWhatsapp"></fa-icon>
        </button>
      </nav>

      <!-- Mobile Menu Toggle -->
      <button mat-icon-button class="mobile-nav-toggle" (click)="toggleMobileMenu()">
        <mat-icon>{{ isMobileMenuOpen ? 'close' : 'menu' }}</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="mobile-menu" *ngIf="isMobileMenuOpen">
    <button (click)="irAHome(); $event.stopPropagation()" mat-button routerLink="/" routerLinkActive="active">Home</button>
    <button (click)="irALI(); $event.stopPropagation()" mat-button routerLink="/" routerLinkActive="active">Limpieza Integral</button>
    <button (click)="irAMS(); $event.stopPropagation()" mat-button routerLink="/" routerLinkActive="active">Mantenimiento Sanitario</button>
    <button (click)="irAME(); $event.stopPropagation()" mat-button routerLink="/" routerLinkActive="active">Mantenimiento Edilicio</button>
    <button (click)="irAContacto(); $event.stopPropagation()" mat-button routerLink="/" routerLinkActive="active">Contacto</button>
  </div>
</header>
