
<div class="social-buttons">
  <h3 class="social-buttons_title">Contáctenos a través de:</h3>
  <div class="social-buttons_container">
    <button mat-button (click)="irARedSocial('https://www.facebook.com')">
      <fa-icon class="social-buttons_icon" [icon]="faFacebook"></fa-icon>
    </button>
    <button mat-button (click)="irARedSocial('https://www.instagram.com')">
      <fa-icon class="social-buttons_icon" [icon]="faInstagram"></fa-icon>
    </button>
    <button mat-button (click)="irARedSocial('https://wa.me/59898442501')">
      <fa-icon class="social-buttons_icon" [icon]="faWhatsapp"></fa-icon>
    </button>
  </div>
</div>
