/* You can add global styles to this file, and also import other style files */
:root {
  /* Colores */
  --color-text-principal: rgb(57, 57, 223); /* H1 */
  --color-text-secundario: rgb(128,80,235); /* H2 */
  --color-text-tercero: rgb(80,82,235);     /* H3 */
  --color-text-cuarto: rgb(80,82,235);      /* Parrafo */
  --color-text-quinto: rgb(80,82,235);      /* Parrafo */

  /* Tamaño de fuentes */
  --size-text-principal: font-size: 3rem;     /* H1 */
  --size-text-secundario: font-size: 2.25rem; /* H2 */
  --size-text-tercero: font-size: 1.5rem;     /* H3 */
  --size-text-cuarto: font-size: 1.125rem;    /* Parrafo */
  --size-text-quinto: font-size: 0.875rem;    /* Parrafo */
}



html, body { height: 100%; overflow-x: hidden; /* Evita el desbordamiento horizontal */ }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-fluid {
  padding: 0;
  margin: 0;
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}
.row {
  padding: 0;
  margin: 0;
}
.col {
  padding: 0;
  margin: 0;
}



/*
h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
}

p {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
}

small {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
}

/* Responsividad para móviles */
/*
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }

  small {
    font-size: 0.875rem;
  }
}
*/
