<main class="container-fluid">

  <!-- Fondo cabecera -->
  <div class="row principal-header">
    <h2 class="principal-header_title" id="tituloAnimado">MANTENIMINETO EDILICIO</h2>
  </div>
  <div class="row principal-bg">
    <p>
      SOLUCIONES QUE EMBELLECEN Y MEJORA TU ENTORNO.
    </p>
  </div>









  <!-- Mantenimiento Edilicio -->
  <div class="row mantenimiento-edilicio_container">



    <!-- Item 1 -->
    <div class="row mantenimiento-edilicio_item fade-right">
      <div class="col-6 mantenimiento-edilicio_itemContent">
        <h2>Soluciones Confiables para el Mantenimiento de Tu Propiedad</h2>
        <p>En nuestra empresa nos especializamos en brindar soluciones integrales de mantenimiento edilicio, adaptadas a
          las necesidades específicas de cada cliente. Contamos con un equipo altamente capacitado y experimentado que
          garantiza un servicio de calidad, puntual y eficiente.</p>
          <hr>
          <app-social-buttons></app-social-buttons>
      </div>
      <div class="col-6 mantenimiento-edilicio_itemImg">
        <img class="img-size" src="assets/Mantenimiento Edilicio/depositphotos8.jpg" alt="">
        <!-- https://depositphotos.com/photo/top-view-cleaning-company-team-cleaning-modern-office-348553602.html -->
      </div>
    </div>







    <!-- Item 2 -->
    <div class="row mantenimiento-edilicio_item fade-left">
      <div class="col-6 mantenimiento-edilicio_itemImg">
        <img class="img-size" src="assets/Mantenimiento Edilicio/depositphotos.jpg" alt="">
      </div>
      <div class="col-6 mantenimiento-edilicio_itemContent">
        <h2>Entre los trabajos que realizamos se incluyen</h2>
        <div class="row mantenimiento-edilicio_subItemContent">
          <div class="col-2">
            <mat-icon class="matIcon_padding fade-in">stars</mat-icon>
          </div>
          <div class="col">
            <p><strong>Reformas de baños y cocinas:</strong> Remodelamos y modernizamos estos espacios clave de tu hogar o empresa, utilizando materiales de alta calidad y diseños funcionales.</p>
          </div>
        </div>


        <div class="row mantenimiento-edilicio_subItemContent">
          <div class="col-2">
            <mat-icon class="matIcon_padding fade-in">stars</mat-icon>
          </div>
          <div class="col">
            <p><strong>Revestimientos:</strong> Instalamos revestimientos de todo tipo, como cerámicos, porcelanatos y vinílicos, asegurando acabados duraderos y estéticamente atractivos.</p>
          </div>
        </div>


        <div class="row mantenimiento-edilicio_subItemContent">
          <div class="col-2">
            <mat-icon class="matIcon_padding fade-in">stars</mat-icon>
          </div>
          <div class="col">
            <p><strong>Yeso y trabajos en pladur:</strong> Realizamos cielorrasos, divisiones y detalles decorativos en yeso, adaptándonos a tus necesidades de diseño y funcionalidad.</p>
          </div>
        </div>


        <div class="row mantenimiento-edilicio_subItemContent">
          <div class="col-2">
            <mat-icon class="matIcon_padding fade-in">stars</mat-icon>
          </div>
          <div class="col">
            <p><strong>Albañilería:</strong> Ofrecemos servicios de construcción, reparación y mantenimiento en estructuras, muros y pisos, siempre respetando las normativas de seguridad.</p>
          </div>
        </div>

        <div class="row mantenimiento-edilicio_subItemContent">
          <div class="col-2">
            <mat-icon class="matIcon_padding fade-in">stars</mat-icon>
          </div>
          <div class="col">
            <p><strong>Pintura:</strong> Transformamos y renovamos espacios con técnicas de pintura profesional, empleando productos de alta calidad que garantizan un acabado impecable y duradero.</p>
          </div>
        </div>
      </div>
    </div>







    <!-- Item 3 -->
    <div class="row mantenimiento-edilicio_item fade-right">
      <div class="col-6 mantenimiento-edilicio_itemContent">
        <h2>Cuidado y Renovación para Tus Espacios</h2>
        <p>Abarcamos otros servicios de mantenimiento, como instalaciones menores, reparaciones y adecuaciones que
          contribuyen al óptimo funcionamiento y la estética de tus espacios.

          Nos comprometemos a ofrecer un trabajo confiable, con atención personalizada y resultados que superen tus
          expectativas.
        </p>
        <hr>
        <app-social-buttons></app-social-buttons>
      </div>
      <div class="col-6 mantenimiento-edilicio_itemImg">
        <img class="img-size" src="assets/Mantenimiento Edilicio/depositphotos3.jpg" alt="">
      </div>
    </div>

    <!-- Contenedor para los botones -->
    <div class="floating-buttons" *ngIf="showScrollToTop">
      <!-- Botón de WhatsApp -->
      <a class="whatsapp-button" *ngIf="showScrollToTop" href="https://wa.me/59898442501" target="_blank">
        <img src="assets/whatsapp-icon.png" alt="WhatsApp">
      </a>
    </div>

  </div>
</main>
