<main class="container-fluid">

  <!-- Fondo cabecera -->
  <div class="row principal-header">
    <h2 class="principal-header_title" id="tituloAnimado">FILMACIÓN DE CAÑERIAS</h2>
  </div>
  <div class="row principal-bg">
    <p>
      TECNOLOGÍA AL SERVICIO DE LA SALUD: DIAGNÓSTICO PRECISO, SOLUCIONES EFECTIVAS..
    </p>
  </div>



  <!-- Filmacion de Cañerias -->
  <!-- Mantenimiento Sanitario -->
  <div class="row filmacion-canierias_container">

    <div class="row filmacion-canierias_item fade-right">
      <div class="col-6 filmacion-canierias_itemContent">
        <h2>Diagnóstico Avanzado para el Cuidado de tu Sistema Sanitario</h2>
        <p>Ponemos a tu disposición tecnología de vanguardia para detectar y diagnosticar de manera precisa las
          patologías presentes en tu sistema sanitario. Nuestro enfoque combina herramientas avanzadas y experiencia
          técnica para garantizar resultados confiables y eficientes.

          Además, te ofrecemos un servicio integral que incluye la grabación del proceso y la entrega de un informe
          técnico detallado, diseñado para proporcionarte un análisis claro y completo sobre el estado de tu sistema.
          Con esta información, podrás tomar decisiones informadas y oportunas para mantener su óptimo funcionamiento.
        </p>
        <hr>
        <app-social-buttons></app-social-buttons>
      </div>
      <div class="col-6 filmacion-canierias_itemImg">
        <img class="img-size" src="assets/Fimacion Cañerias/depositphotos4.jpg" alt="">
        <!-- https://depositphotos.com/photo/top-view-cleaning-company-team-cleaning-modern-office-348553602.html -->
      </div>
    </div>

    <div class="filmacion-canierias_catalog">

      <div class="row">
        <div class="col">
          <img class="img-size" src="assets/Fimacion Cañerias/depositphotos.jpg" alt="">
        </div>
        <div class="col">
          <img class="img-size" src="assets/Fimacion Cañerias/depositphotos2.jpg" alt="">
        </div>
        <div class="col">
          <img class="img-size" src="assets/Fimacion Cañerias/depositphotos3.jpg" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <img class="img-size" src="assets/Fimacion Cañerias/depositphotos6.jpg" alt="">
        </div>
        <div class="col">
          <img class="img-size" src="assets/Fimacion Cañerias/depositphotos8.jpg" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <img class="img-size" src="assets/Fimacion Cañerias/depositphotos7.jpg" alt="">
        </div>
        <div class="col">
          <img class="img-size" src="assets/Fimacion Cañerias/depositphotos5.jpg" alt="">
        </div>
      </div>
    </div>

    <!-- Contenedor para los botones -->
    <div class="floating-buttons" *ngIf="showScrollToTop">
      <!-- Botón de WhatsApp -->
      <a class="whatsapp-button" *ngIf="showScrollToTop" href="https://wa.me/59898442501" target="_blank">
        <img src="assets/whatsapp-icon.png" alt="WhatsApp">
      </a>
    </div>

  </div>
</main>
